
<nav class="navbar">
    <div class="navbar-brand">
        <span class="brand-icon">📰</span>
        <span class="brand-name">Siberita</span>
    </div>
    <div class="navbar-right">
        <span class="nav-user">👋 <%= penulis.nama %></span>
        <a class="btn-logout" href="/logout">Keluar</a>
    </div>
</nav>